{% extends "base.html" %}

{% block content %}
    <div class="panel left">
        <h1>Edit Note</h1>
        <form action="/note" method="post">{% csrf_token %}
	        {% for field in form %}
	        	{{ field }}
	        {% endfor %}
	        <input type="submit" value="Save">
	        <input type="submit" name="extract" value="Xtract">
	        <input type="submit" name="recommend" value="Xtrify!">
        </form>
        <div class="noteWrapper">
            <img class="avatar" src="{{ note.user.profile.gravatar_url }}">
            <span class="name">{{ note.user.first_name }}</span>@{{ note.user.username }}
            <span class="time">{{ note.creation_date|timesince }}</span>
            <p>{{ note.heading }}</p>
            <p>{{ note.content }}</p>
        </div>
    </div>
{% endblock %}